.App{
  grid-gap:10px;
  display: grid;
  justify-content: center;
  grid-template-areas: ". .";
}

.button{
  text-align: center;
  width:150px;
  border: none;
  border-radius:20px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}